article,aside,header,main,nav,section{display:block;}
html{color:#000;overflow-y:scroll;background:#fff}
body,button,input,select,textarea{font:12px/1.5 Tahoma,Arial,"\5b8b\4f53",sans-serif;background:#fff;_background-image:url(about:blank);_background-attachment:fixed}
h2,h3{font-size:14px}h4,h5,h6{font-size:12px}h2,h3,h4{font-weight:700}h5,h6{font-weight:normal}
a:link{-webkit-tap-highlight-color:#FFA300;}ins{background-color:#FFA300;color:#FFF;text-decoration:none;}a{text-decoration:none;color:#4c4c4c;-webkit-transition:color 200ms ease;-moz-transition:color 200ms ease;-o-transition:color 200ms ease;transition:color 200ms ease;}a:hover,a:active{-webkit-transition:color 200ms ease;-moz-transition:color 200ms ease;-o-transition:color 200ms ease;transition:color 200ms ease;color:#FF6600!important;text-decoration:underline;}a.w:link,a.w:visited,a.w:active{color:#FFFFFF;text-decoration:none;}a.w:hover{color:#f4f3f2;}a.b:link,a.b:visited,a.b:active{color:#333333;text-decoration:none;}a.b:hover{color:#FF6600;}a.g:link,a.g:visited,a.g:active{color:#666666;text-decoration:none;}a.g:hover{color:#FF6600;}
.f_orange a.f_orange:link,a.f_orange:visited{color:#ff7300!important}
.wrap,.layout,.m{margin:auto;width:1000px;}
.layout{margin-bottom:15px}.layout .col-main,.layout .col-sub,.layout .col-ext{float:left;overflow:hidden}.layout .col-main{width:540px}.layout .col-sub{width:220px}.layout .col-ext{width:230px}.layout-fixed{margin-bottom:0!important}.grid-right{float:right!important}.wrap,.layout,.header,.tabNav,.clrli li{zoom:1;}
.clearfix:after,.wrap:after,.layout:after,.header:after,.tabNav:after,.clrli li:after{display:block;clear:both;height:0;content:"\0020"}.clear{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0}.clearfix{display:inline-table}*html .clearfix{height:1%}.clearfix{display:block}*+html .clearfix{min-height:1%}
.f_l,ul.clearfix li,.tabNav span{float:left;_display:inline;}
.f_r,.more{float:right;_display:inline;}
.more{font-weight:normal;}
.more{color:#868686;}
.f_orange{color:#FF6600;}
.more{font-size:12px;}
.date{float:right;margin-left:5px;color:#999999;font-family:Geneva, Arial, Helvetica, sans-serif;}
.b6{height:6px;font-size:1px;}
.dsn, .hide{display:none;}
.dot{float:left;display:inline;font-size:18px;font-family:"\9ED1\4F53", SimSun, sans-serif;color:#808080;margin-top:1px;}
.nbg{background:none !important;}
.ms-yh{font-family:"Microsoft YaHei",SimHei,"WenQuanYi Micro Hei",STHeiti;font-weight:400}
a.a-img,a.a-mix{display:inline-block;font-size:0;line-height:0}a.a-mix:hover,a.a-mix:active{text-decoration:none}a.a-mix img{margin-bottom:2px}a.a-mix span,a.a-mix .description{display:block;font-size:12px;line-height:1.5}.vertical-img{display:table;text-align:center;overflow:hidden;font-size:0;*display:block}.vertical-img .box-img{display:table-cell;vertical-align:middle;*display:inline;*writing-mode:tb-rl;*text-align:center;*height:100%}.vertical-img img{vertical-align:middle}
.flinks,.flinks .header,.flinks .header h3, .flinks .content{float:left;}
.flinks{width:988px;border:1px solid #e8e8e8;}
.flinks .header{background:#fafafa;position:relative;width:85px; height:100%;}
.flinks .header h3{padding:15px 10px 0 10px;font-size:14px;font-weight:bold;}
.flinks .header i{position:absolute; top:15px; right:-2px; _right:-3px; +right:-2px; z-index:9999; display:block; width:8px; height:20px; background:url(../images/ico_arrowsct.gif) no-repeat 0 -15px;}
.flinks .content{border-left:1px solid #e8e8e8;min-height:40px; _height:auto!important; _height:40px; _min-height:40px; width:902px;}
.flinks ul{margin:6px 10px 10px;overflow:hidden;}
.flinks ul li{background-position:-77PX -40px;color:#ccc;line-height:24px;padding:0 10px 0 9px;white-space:nowrap;margin-left:-1px;}
/*second*/
.imain{width:748px;float:left;overflow:hidden;}
.imid{width:506px;float:right;overflow:hidden;}
.ileft{width:232px;float:left;overflow:hidden;}
.iright{width:232px;float:right;overflow:hidden;}
.complex .complex-hd{border-bottom:2px solid #E4E4E4;height:35px;}
.complex .complex-hd .title{float:left;height:35px;width:128px;}
.complex .complex-hd .title span{float:left;font-size:18px;padding:7px 10px 0 2px;}
.complex .complex-hd .modsAd{width:550px;padding:8px 10px 0;overflow:hidden;}
.complex .complex-hd .modsAd li{padding-right:36px;}
.complex .complex-hd .complex-nav{float:right;height:35px;overflow:hidden;}
.complex .complex-hd .complex-nav ul{padding:10px 10px 0 0;}
.complex .complex-hd .complex-nav li{background-position:-17px -734px;margin-left:10px;padding-left:11px;}
.complex .complex-box{border:1px solid #DEDEDE;border-top:0 none;}
.complex .hot-submenu{float:left;width:100%;padding:10px 0;}
.complex .hot-submenu li{float:left;display:inline;width:72px;height:26px;line-height:26px;border:1px solid #e2e2e2;background-color:#f4f4f4;margin-right:9px;text-align:center}
.complex .hot-submenu li a{color:#444;display:block}
.complex dl,.complex dt,.complex dd{float:left;overflow:hidden;display:inline-block;_display:inline;}
.complex dl{width:358px;height:100px;margin-bottom:5px;}
.complex dl.last{margin-left:20px;}
.complex dt{display:none;font-size:0;}
.complex-img{width:136px;height:100px;}
.complex-img .complex-img-link{float:left;width:130px;height:85px;margin-top:4px;position:relative;overflow:hidden;border:1px solid #e5e5e5;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;padding:2px;}
.complex-img .complex-img-link:hover{border:1px solid #ff7300;text-decoration:none}
.complex-img .complex-img-link img{width:130px;height:85px}
.complex-img .complex-img-des,.complex-img .complex-img-mask{display:block;position:absolute;left:2px;top:70px;width:130px;height:18px;overflow:hidden}
.complex-img .complex-img-mask{background:#000;opacity:.5;filter:alpha(opacity=50);z-index:1}
.complex-img .complex-img-des{text-align:center;color:#fff;line-height:18px;z-index:2;cursor:pointer}
.complex-list{width:210px;margin-left:10px;}
.complex-list li{height:24px;line-height:24px;overflow:hidden;}
.complex-list li .blue{font-size:14px;font-weight:700}
.complex-list li .blue:link,.complex-list li .blue:visited{color:#369}
.complex-list li .blue:hover,.complex-list li .blue:active{color:#ff7300}
.bbshot{border-bottom:1px dashed #E2E2E2;padding:0 0 7px;margin:7px 10px 7px 0;}
.swbk ol{background:url("../images/icon03.png") no-repeat 0 2px;padding:0 15px 0 22px;}
.swbk ol li{height:16px;line-height:16px;margin-bottom:14px;overflow:hidden;}
.swbk ol li span{padding-left:10px;}
.complex-fly .header{border-bottom:2px solid #E4E4E4;height:35px;height:30px;}
.complex-fly .header h3{font-size:18px;}
.complex-fly .content{height:176px;padding:8px;overflow:hidden;}
.complex-fly .content li{width:152px;margin-right:12px;}
.complex-fly .content li.last{margin-right:0}
.complex-fly .content dl{width:120px;height:163px;margin:0 auto;padding:6px 10px 6px 9px;overflow:hidden;}
.complex-fly .content dl dt{border:1px solid #FFFFFF;width:120px;height:120px;margin-bottom:2px;overflow:hidden;} 
.complex-fly .content dl dd{width:120px;height:40px;line-height:19px;text-align:center;overflow:hidden;} 
.complex-fly .content li.hover dl{background-color:#F5F5F5;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;-khtml-border-radius:2px;}  
.complex-fly .content li.hover dl dt{background-color:#FFF;border:1px solid #FF7300;}
.complex-fly .content li.hover dl dd a{color:#FF7300;text-decoration:underline;}